# App configuration
VITE_APP_NAME=MyDuka
VITE_APP_DESCRIPTION="Kenya's Marketplace Network"

# Logo configuration
VITE_APP_LOGO_FIRST=My
VITE_APP_LOGO_SECOND=Duka
VITE_APP_USE_SPLIT_LOGO=true

VITE_API_URL=http://localhost:5000/api